<!doctype html>
<html lang="{{ html_language }}">
<head>
	<meta charset="UTF-8">
	<title>{{ head_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if head_desc | default('') is not empty %}
        <meta name="description" content="{{ head_desc }}">
    {% endif %}

    {{ head_misc | raw }}
    {{ stylesheets | raw }}
</head>
<body class="{{ body_classes }}">
    {{ body_content | raw }}
</body>
</html>
