
{% import "macros.html.twig" as macros %}

<{{ tagname | default('button') }} {{ macros.form_widget_attributes(attributes) }}>
    {% if icon_href is defined %}
        <span class="button__icon-nest">
            <svg class="svg-icon button__icon">
                <use xlink:href="{{ icon_href }}"></use>
            </svg>
        </span>
    {% endif %}
    <span class="button__text">
        {{ value | raw }}
    </span>
</{{ tagname | default('button') }}>
