<!doctype html>
<html {{ document_attributes | default('') | raw }}>
<head>

    <meta charset="UTF-8">
    <title>{{ head_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if head_desc | default('') is not empty %}
        <meta name="description" content="{{ head_desc }}">
    {% endif %}

    {{ head_misc | raw }}
    {{ stylesheets | raw }}
    {{ scripts_in_head | raw }}

</head>
<body class="{{ body_classes }}">
    {{ svg_sprites | default('') | raw }}

    {{ body_content | raw }}

    {{ app_menu | raw }}
    {{ scripts_in_body | raw }}
</body>
</html>
