<div class="page__level app-infra__cd-item {{ wrapper_extra_classes }}">
  <div class="page__level__content">

    {% if title %}
      <h2 class="app-infra__cd-item__title">
        {{ title }}
      </h2>
    {% endif %}

    {% if description %}
      <div class="app-infra__cd-item__description">
        <span class="element__label">Description:</span>
        <div class="element__content">
          {{ description }}
        </div>
      </div>
    {% endif %}

    {% if content %}
      <div class="app-infra__cd-item__content">
        {% if suppress_content_label is empty %}
          <span class="element__label">Component:</span>
        {% endif %}
        <div class="element__content">
          {{ content }}
        </div>
      </div>
    {% endif %}

    {% if code %}
      <div class="app-infra__cd-item__code">
        <span class="element__label">Code:</span>
        <div class="element__content">
          {{ code }}
        </div>
      </div>
    {% endif %}

  </div>
</div>

