
{% set items_data = {} %}

{% for key, item in items %}

    {% set item_def = {
        isOpen: item.initially_open | default(false)
    } %}

    {% set friendly_key = 'item_' ~ key %}

    {% set items_data = items_data | merge({ (friendly_key): item_def }) %}
{% endfor %}

<agile-accordion
    inline-template
    :settings="{{ settings | default([]) | raw | json_encode() }}"
    :items-data="{{ items_data | json_encode() }}"
>
    <div class="aaccdn">
        {% for item in items %}
            <div
                class="aaccdn__item {{ item.extra_classes | default }}"
                :class="{ 'is-open': item_{{ loop.index0 }}.isOpen }"
                {% if item.initially_open | default is not empty %}data-initially-open{% endif %}
                ref="item_{{ loop.index0 }}"
            >

                <div class="item__head">
                    <button
                        @click="toggle({{ loop.index0 }})"
                        type="button"
                    >
                        {{ item.title }}
                    </button>
                </div>

                <div class="item__body">
                    {{ item.content | raw }}
                </div>

            </div>
        {% endfor  %}
    </div>
</agile-accordion>
