<div class="x-cd-item {{ wrapper_extra_classes }}">
  <div class="container">

    {% if title %}
      <h2 class="x-cd-item__title">
        {{ title }}
      </h2>
    {% endif %}

    {% if content %}
      <div class="x-cd-item__content">
        {{ content }}
      </div>
    {% endif %}

    {% if description %}
      <div class="x-cd-item__description">
        <span class="element__label">Description:</span>
        <div class="element__content">
          {{ description }}
        </div>
      </div>
    {% endif %}

    {% if code %}
      <div class="x-cd-item__code">
        <span class="element__label">Code:</span>
        <div class="element__content">
          {{ code }}
        </div>
      </div>
    {% endif %}

  </div>
</div>

