<!DOCTYPE html>
<html class="{{ classes_for_html }}" lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ head_title }}</title>
    <meta name="description" content="{{ head_desc }}">

    {{ head_misc }}

    {{ styles }}
    {{ scripts_in_head }}
  </head>
  <body>
    {{ page_content }}
    {{ scripts_in_body }}
  </body>
</html>

